* {
  box-sizing: border-box;
}
body {
  background-color: #eee;
  font-size: 16px;
}

/* 그리드 레이아웃 추가 */
#wrapper {
  display: grid;  /* 그리드 컨테이너 지정 */
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));  /* 최소 320px, 최대 1fraction 의 너비를 가진 칼럼을 화면 크기에 맞게 생성 */
  grid-gap: 1rem;  /* 줄 간격과 칼럼 간격을 1rem(root의 글자크기 = 16px) 로 지정 */
}

.card {
  background-color: #fff;
  box-shadow: 0px 1px 5px #222;
}
.card > header {
  font-size: 1.5rem;
  padding: 0.5rem;
}
.card > p {
  padding: 0.5rem;
  line-height: 1.6em;
}
.card > img {
  max-width: 100%;
}
